{% extends "layout.html" %}

{% block title %}
    Expenses details
{% endblock %}

{% block main %}
<script>
    function select_save_auto_sumbit(select_key, val){
        sessionStorage.setItem(select_key, val);
        document.getElementById("filter_select").submit();
        }

    function load_selected(select_key){
        let tmp = sessionStorage.getItem(select_key);
        return tmp
    }

    function set_selected_option(select_id, select_key){
        var mySelect = document.getElementById(select_id);
        for(var i, j = 0; i = mySelect.options[j]; j++) {
            if(i.value == load_selected(select_key)) {
                mySelect.selectedIndex = j;
                break;
            }
        }
    }

    function ToConfirm() {
        let text = "Are you sure to delete the data?";
        if (confirm(text) == true) {
            let a=1
        }
    }

    function PassValue(select_id, target_id) {
        let tmp = document.getElementById(select_id).value
        document.getElementById(target_id).value = tmp
    }

</script>
    <div><h2>Expenses details</h2></div>
    <div>
        <form action="/export", method ="post">
            <input type="text" id="export_month" name="export_month"  hidden>
            <input type="text" id="export_year" name="export_year" hidden>
            <input type="text" id="export_name" name="export_name" hidden>
            <input type="text" id="export_category" name="export_category" hidden>
            <input type="text" id="export_order" name="export_order" hidden>
            <button class="btn btn-primary" type="submit" id="export" name ="export">Export to CSV file</button></td>
        </form>
    </div>
<form action="/select", method = "post", id="filter_select" name="filter_select">
<table class="table">
    <thread>
        <tr>
            <th>Day</th>
            <th>Month</th>
            <th>Year</th>
            <th>Category</th>
            <th>Name</th>
            <th>Expense</th>
            <th>Remarks</th>
            <th></th>
            <th></th>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td></td>
            <td>
                <select class="form-select mx-auto w-auto" id="month" name="month" onchange="select_save_auto_sumbit('month_key', this.value)">
                    <option value ='All'>All</option>
                    {% for mon in d_months %}
                        <option value = {{ mon[0] }} >{{ mon[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-select mx-auto w-auto" id="year" name="year" onchange="select_save_auto_sumbit('year_key', this.value)">
                    <option value ='All'>All</option>
                    {% for yr in d_years %}
                        <option value = {{ yr[0] }} >{{ yr[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-select mx-auto w-auto" id="category" name="category" onchange="select_save_auto_sumbit('category_key', this.value)">
                    <option value ='All'>All</option>
                    {% for ca in d_categories %}
                        <option value = {{ ca[0] }} >{{ ca[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-select mx-auto w-auto" id="name" name="name" onchange="select_save_auto_sumbit('name_key', this.value)">
                    <option value ='All'>All</option>
                    {% for na in d_names %}
                        <option value = {{ na[0] }} >{{ na[0] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td></td>
            <td></td>
            <td>
                <select class="form-select mx-auto w-auto" id="order" name="order" onchange="select_save_auto_sumbit('order_key', this.value)">
                    <option value ='No' selected value>Order by date</option>
                    <option value ='latest'>Latest</option>
                    <option value ='oldest'>Oldest</option>
                </select>
                </td>
        </tr>
        {% for exp in expenses %}
            </tr>
                <td>{{ exp[1] }}</td>
                <td>{{ exp[2] }}</td>
                <td>{{ exp[3] }}</td>
                <td>{{ exp[4] }}</td>
                <td>{{ exp[5] }}</td>
                <td>£{{ exp[6] }}</td>
                <td>{{ exp[7] }}</td>
                <td><button class="btn btn-primary" type="submit" id="edit" name ="edit" value = {{ exp[0] }}>Edit</button>
                <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure?')" id="delete" name ="delete" value = {{ exp[0] }}>Delete</button></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</form>

<script>
    if ({{ load_option }} == 1) {
        set_selected_option("month", 'month_key')
        set_selected_option("year", 'year_key')
        set_selected_option("name", 'name_key')
        set_selected_option("category", 'category_key')
        set_selected_option("order", 'order_key')
    }
    PassValue("month", "export_month")
    PassValue("year", "export_year")
    PassValue("name", "export_name")
    PassValue("category", "export_category")
    PassValue("order", "export_order")
</script>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <script>window.alert({{ message|tojson }} );</script>
                {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}