{% extends "layout.html" %}

{% block title %}
    Import
{% endblock %}

{% block main %}
    <form action="/dataimport" method="post">
       <!-- <table>
            <tr>
                <th>Day</th>
                <th>Month</th>
                <th>Year</th>
                <th>Category</th>
                <th>Expenses</th>
                <th>Remarks</th>
              </tr>

              <tr>
                <td><input autocomplete="off" class="form-control mx-auto w-auto" id="day" name="day" type="text"></td>
                <td>
                    <select class="form-select mx-auto w-auto" name="month">
                        <option disabled selected>Month</option>
                        {% for mon in months %}
                            <option value = {{ mon }} >{{ mon }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td><input autocomplete="off" class="form-control mx-auto w-auto" id="year" name="year" placeholder="Year" type="text"></td>
                <td><input autocomplete="off" class="form-control mx-auto w-auto" id="category" name="category" placeholder="Category" type="text"></td>
                <td><input autocomplete="off" class="form-control mx-auto w-auto" id="expenses" name="expenses" placeholder="Expenses" type="text"></td>
                <td><input autocomplete="off" class="form-control mx-auto w-auto" id="remarks" name="remarks" placeholder="Remarks" type="text"></td>

              </tr>
        </table>
    -->
    <div class="mb-3"><input autocomplete="off" class="form-control mx-auto w-auto" id="day" name="day" type="text"></div>

        <button class="btn btn-primary" type="submit">Update</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <script>window.alert({{ message|tojson }} );</script>
                {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}
