{% extends "layout.html" %}

{% block title %}
    Import
{% endblock %}

{% block main %}
    <form action="/dataimport" method="post" id="entry">
        <select class="form-select mx-auto w-auto" name="month">
            <option disabled selected>Month</option>
            {% for sym in portfolio %}
                <option value = {{ sym.symbol }} >{{ sym.symbol }}</option>
            {% endfor %}
        </select>

    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <script>window.alert({{ message|tojson }} );</script>
                {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}
