{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <strong>Account registration</strong>
    <script>
        function required()
            {
                var user_name = document.getElementById("registration").username.value;
                var user_pw = document.getElementById("registration").password.value;
                var user_pw_con = document.getElementById("registration").confirmation.value;
                if (user_name == "" || user_pw == "" || user_pw_con == "")
                {
                    alert("Please input a Value");
                    return false;
                }
                else
                {
                    return true;
                }
            }
    </script>
    <form action="/register" method="post" onsumbit="return required()" id="registration">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <h10>Use 8 or more characters with a mix of letters and numbers</h10>
        <br>
        <br>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>


{% endblock %}
