{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <strong>Account registration</strong>
    <form action="/register" method="post" id="registration">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password (again)" type="password">
        </div>
        <h10>Use 8 or more characters with a mix of letters and numbers</h10>
        <br>
        <br>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <script>window.alert({{ message|tojson }} );</script>
                {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}
