{% extends "layout.html" %}

{% block title %}
    Summary.html
{% endblock %}

{% block main %}
<form action="/summary", method = "post" id ="summary_select">
    <style type="text/css">
        #expense_select select,
        #expense_select p {
          display: inline;
        }
      </style>
    <div id = "expense_select">
        <p><h2>Expenses summary in</h2></p>
        <select class="form-select mx-auto w-auto" id="summary_select_month" name="summary_select_month">
            <option value="No" disabled>Month</option>
            {% for mon in d_months %}
                <option value = {{ mon[0] }} >{{ mon[0] }}</option>
            {% endfor %}
        </select>
        <select class="form-select mx-auto w-auto" id="summary_select_year" name="summary_select_year">
            <option value="No" disabled>Year</option>
            {% for yr in d_years %}
                <option value = {{ yr[0] }} >{{ yr[0] }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit" id="summary_cal" name ="summary_cal">Show</button></td>
</div>
    <table class="table">
        <thread>
            <th>Name</th>
            <th>Paid total expenses</th>
            <th>Average expenses per person</th>
            <th>Debits/Credits</th>
        </thread>
        <tbody>
            {% for row in total_exp %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>{{row[0]["name"]}}</td>
                    <td>{{row[0]["total"]}}</td>
                    <td>{{row[0]["average"]}}</td>
                    <td>{{row[0]["c/d"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% with messages = get_flashed_messages() %}
{% if messages %}
        {% for message in messages %}
            <script>window.alert({{ message|tojson }} );</script>
        {% endfor %}
{% endif %}
{% endwith %}

{% endblock %}