{% extends "layout.html" %}

{% block title %}
    Summary.html
{% endblock %}

{% block main %}
<script>
    function select_save_auto_sumbit(select_key, val){
        sessionStorage.setItem(select_key, val);
        document.getElementById("summary_select").submit();
    }

    function load_selected(select_key){
        let tmp = sessionStorage.getItem(select_key);
        return tmp
    }

    function set_selected_option(select_id, select_key){
        var mySelect = document.getElementById(select_id);
        for(var i, j = 0; i = mySelect.options[j]; j++) {
            if(i.value == load_selected(select_key)) {
                mySelect.selectedIndex = j;
                break;
            }
        }
    }
</script>
<form action="/summary", method = "post" id ="summary_select">
    <style type="text/css">
        #expense_select select,
        #expense_select p {
          display: inline;
        }
      </style>
    <div id = "expense_select">
        <p><h2>Expenses summary in</h2></p>
        <select class="form-select mx-auto w-auto" id="summary_select_month" name="summary_select_month" onchange="select_save_auto_sumbit('month_key', this.value)">
            <option selected value>Month</option>
            {% for mon in d_months %}
                <option value = {{ mon[0] }} >{{ mon[0] }}</option>
            {% endfor %}
        </select>
        <select class="form-select mx-auto w-auto" id="summary_select_year" name="summary_select_year" onchange="select_save_auto_sumbit('year_key', this.value)">
            <option selected value>Year</option>
            {% for yr in d_years %}
                <option value = {{ yr[0] }} >{{ yr[0] }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit" id="summary_cal" name ="summary_cal" value = "show" >Show</button></td>
</div>
    <table class="table">
        <thread>
            <th>Name</th>
            <th>Paid total expenses</th>
            <th>Average expenses per person</th>
            <th>Debits/Credits</th>
        </thread>
        <tbody>
            {% for row in total_exp %}
                <tr>
                    <td>{{row[0]["name"]}}</td>
                    <td>£{{row[0]["total"]}}</td>
                    <td>£{{row[0]["average"]}}</td>
                    <td>
                        {% if row[0]["c/d"] < 0 %}
                            -£{{ row[0]["c/d"]|abs}}
                        {% else %}
                            £{{ row[0]["c/d"]|abs}}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<script>
    if ({{ load_option }} == 1) {
        set_selected_option("summary_select_month", 'month_key')
        set_selected_option("summary_select_year", 'year_key')
    }
</script>

{% with messages = get_flashed_messages() %}
{% if messages %}
        {% for message in messages %}
            <script>window.alert({{ message|tojson }} );</script>
        {% endfor %}
{% endif %}
{% endwith %}

{% endblock %}