{% extends "layout.html" %}

{% block title %}
    Summary
{% endblock %}

{% block main %}
<
<form action="/select", method = "post", name="month_select">
<table class = "table">
    <thread>
        <tr>
            <th>Day</th>
            <th>Month</th>
            <th>Year</th>
            <th>Name</th>
            <th>Category</th>
            <th>Expense</th>
            <th>Remarks</th>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td></td>
            <td>
                <select class="form-select mx-auto w-auto" name="month" onchange="javascript: if(this.value != '0') this.form.submit();">
                    <option value ='All'>All</option>
                    {% for mon in d_months %}
                        <option value = {{ mon["month"] }} >{{ mon["month"] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-select mx-auto w-auto" name="year" onchange="javascript: if(this.value != '0') this.form.submit();">
                    <option value ='All'>All</option>
                    {% for yr in d_years %}
                        <option value = {{ yr["year"] }} >{{ yr["year"] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-select mx-auto w-auto" name="name" onchange="javascript: if(this.value != '0') this.form.submit();">
                    <option value ='All'>All</option>
                    {% for na in d_names %}
                        <option value = {{ na["name"] }} >{{ na["name"] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select class="form-select mx-auto w-auto" name="category" onchange="javascript: if(this.value != '0') this.form.submit();">
                    <option value ='All'>All</option>
                    {% for ca in d_categories %}
                        <option value = {{ ca["category"] }} >{{ ca["category"] }}</option>
                    {% endfor %}
                </select>
            </td>
            <td></td>
            <td></td>
        </tr>
        {% for exp in expenses %}
            </tr>
                <td>{{ exp.day }}</td>
                <td>{{ exp.month }}</td>
                <td>{{ exp.year }}</td>
                <td>{{ exp.name }}</td>
                <td>{{ exp.category }}</td>
                <td>{{ exp.expense }}</td>
                <td>{{ exp.remarks }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                    <script>window.alert({{ message|tojson }} );</script>
                {% endfor %}
        {% endif %}
    {% endwith %}

{% endblock %}