body {
    background-color: #000000;
    color: #FCF900;
}

.header {
    color: #FCF900;
    text-align: center;
}

.hyper_link_button {
    position: relative;
}

.center_button {
    margin: 0;
    position: absolute;
    transform: translate(120%,0);
}